// --- BASE VARIABLES ----------------------------------------------------------
$global-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$window-min-width: 1200px;
$window-min-height: 600px;

// -----------------------------------------------------------------------------
