{
  "env": {
    "browser": true,     // browser global variables.
    "node": true,        // Node.js global variables and Node.js-specific rules.
    "jquery": true       // jquery global variables.
  },

  "rules": {
    "strict": 0      // controls location of Use Strict Directives
  }
}
